<h2>Books</h2>
<table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
            </tr>
        </thead>
    <% @books.each do |book| %>
        <tbody>
            <tr>
                <td></td>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
            </tr>
    <% end %>
        </tbody>
        
</table>